
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">

        @*https://stackoverflow.com/questions/60840986/blazor-redirect-to-login-if-user-is-not-authenticated*@
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>

        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
